* {
  box-sizing: border-box;
  margin: 0.5rem;
}

body {
  border: 0.2rem dashed #e52315;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-variant: small-caps;
}

h3,
h4 {
  color: #dc3543;
  text-align: justify;
}

h3 {
  font-family: Tahoma;
  font-size: 1.7rem;
}

p {
  font-family: Georgia;
  padding: 0.5rem;
  text-align: justify;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #ff0000;
  font-weight: bold;
}
a:hover {
  color: #ffc0cb;
}

#background_image {
  background-image: url('/image/photo-1734192279506-45e56af5575f.jpeg');
  background-size: 100% 100%;
}

button {
  border: 0.2rem solid #df2343;
  background-color: #ffc0cb;
  color: #ffffff;
  font-size: 1.1rem;
  padding: 0.4rem 0.7rem;
  border-radius: 0.8rem;
  text-align: center;
}

button:hover {
  border: 0.2rem solid #ffc0cb;
  background-color: #c43533;
}

hr {
  border: 0.07rem solid #cb3533;
}
